/* User Registration Form */
/* ========================================================================== */

#new_user header {
	padding-bottom: 8px;
	border-bottom: 1px solid #b7ddf2;
	margin-bottom: 16px;
}
#new_user h1 {
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 8px;
}
#new_user p {
	font-size: 90%;
	color: #666666;
}
#new_user .notice {
	font-size: 120%;
	font-weight: bold;
	color: green;
	margin-bottom: 8px;
}
