/*
	Document   : style
	Created on : Aug 28, 2011, 10:38:02 AM
	Author     : sontobgay
	Description:
		Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Styles for section element of the main content */

#content {
	display: table;
	width: 100%;
	background: url('images/background.jpg') repeat-x;
}

#main_content {
	display: table-cell;
	width: 50%;
	padding: 35px;
}

#registration {
	display: table-cell;
	width: 50%;
	padding:35px;
}

/* Styles: global To-Do system forms */

.todo-form {
	margin:0 auto;
	width:375px;
	padding:10px;
}

p, h1, form, button {
	border:0; 
	margin:0; 
	padding:0;
}

.spacer {
	clear:both; 
	height:1px;
}

/* Styles: user registration form */

#reg_form {
	border: solid 2px #b7ddf2;
	background: #ebf4fb;
}

#reg_form h1 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

#reg_form p {
	font-size: 11px;
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #b7ddf2;
	padding-bottom: 10px;
}

#reg_form label {
	display: block;
	font-weight: bold;
	text-align: right;
	width: 140px;
	float: left;
}

#reg_form .highlight {
	color: #736F6E;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 140px;
}

#reg_form input, select {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 175px;
	margin: 2px 0 20px 10px;
}

#reg_form button {
	clear: both;
	margin-left: 150px;
	width: 125px;
	height: 31px;
	background: #666666 url(img/button.png) no-repeat;
	text-align: center;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}
