/*
	Document   : style
	Created on : Aug 28, 2011, 10:38:02 AM
	Author     : sontobgay
	Description:
		Purpose of the stylesheet follows.
*/

/*
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Main Content */
/* ========================================================================== */

#main {
	display: table;
	width: 100%;
	background: url('images/background.jpg') repeat-x;
	padding-top: 24px;
}
#content {
	display: table-cell;
	width: 50%;
	padding: 32px;
}
#registration {
	display: table-cell;
	width: 50%;
	padding: 32px;
	vertical-align: top;
}

/* Slideshow */
/* ========================================================================== */

#slideshow {
	margin: 12px auto;
	cursor: pointer;
}
#slideshow figcaption {
	text-align: center;
	padding: 4px 0;
	border: 2px solid black;
	border-top: 0;
	background-color: #ebf4fb;
}
#slideshow .img_container {
	position: relative;
	overflow: hidden;
	width: 412px;
	height: 309px;
	border: 2px solid black;
}
#slideshow .img_container img {
	position: absolute;
	left: 100%;
	width: inherit;
	height: inherit;
	-webkit-transition: left 1s ease;
	-moz-transition: left 1s ease;
	-o-transition: left 1s ease;
	transition: left 1s ease;
}
#slideshow .img_container img:first-of-type {
	left: 0;
}
#slideshow .selector ul {
	display: table;
	width: 100%;
}
#slideshow .selector li {
	display: table-cell;
	border: 2px solid transparent;
	text-align: center;
}
#slideshow .selector li div {
	width: 100%;
	height: 11px;
}
#slideshow .selector li.hovered {
	border-color: black;
	background-color: #ebf4fb;
}
#slideshow .selector li.hovered div {
	background: black url('images/thumb_arrow.png') top no-repeat;
}

/* User Registration Form */
/* ========================================================================== */

#signup_form {
	border: 2px solid #b7ddf2;
	background: #ebf4fb;
	margin: 0 auto;
	width: 388px;
	padding: 12px;
}
#signup_form h1 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}
#signup_form p {
	font-size: 11px;
	color: #666666;
	margin-bottom: 20px;
	border-bottom: 1px solid #b7ddf2;
	padding-bottom: 10px;
}
#signup_form label {
	display: block;
	font-weight: bold;
	text-align: right;
	width: 160px;
	float: left;
}
#signup_form .highlight {
	color: #736f6e;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 160px;
}
#signup_form input, select {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 180px;
	margin: 2px 0 20px 10px;
}
#signup_form button {
	clear: both;
	margin-left: 170px;
	width: 120px;
	height: 32px;
	background-color: #666666;
	text-align: center;
	line-height: 31px;
	color: white;
	font-size: 11px;
	font-weight: bold;
}
