/* Reset */
/* ========================================================================== */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol,ul {
	list-style: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HTML5 Compatibility */
/* ========================================================================== */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

/* General */
/* ========================================================================== */

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.32;
	background: white url(images/html-bg.png) top repeat-x;
	color: black;
}
#main {
	max-width: 960px;
	width: 960px;
	margin: 16px auto 24px;
}

/* Global Class Definitions */
/* ========================================================================== */

.doc h1,.doc h2,.doc h3,.doc h4,.doc h5,.doc h6 {
	font-weight: bold;
	padding: 1em 0 0.5em 2em;
	text-indent: -2em;
}
.doc h1 {
	font-size: 200%;
}
.doc h2 {
	font-size: 160%;
	font-style: italic;
}
.doc h3 {
	font-size: 160%;
}
.doc h4 {
	font-size: 120%;
	font-style: italic;
}
.doc h5 {
	font-size: 120%;
}
.doc h6 {
	font-size: 80%;
}
.doc p {
	font-size: 110%;
}
.doc p, .doc ul {
	padding: 0 0 1em;
}
.doc p:last-child, .doc ul:last-child {
	padding-bottom: 0.5em;
}
.doc ol {
	list-style: decimal outside;
}
.doc ul, .tlist section ul {
	list-style: disc outside;
	margin-left: 1em;
}
ul.logo {
	list-style-image: url('images/favicon.png');
	margin-left: 4em;
}
ul.logo li {
	padding-left: 4px;
}
.tlist section {
	display: table;
	width: 96%;
	border-bottom: 1px dotted black;
	padding: 8px 2%;
}
.tlist section:nth-of-type(even) {
	background-color: #eaf2d3;
}
.tlist section h2 {
	display: table-cell;
	width: 50%;
	padding-right: 16px;
	color: brown;
	vertical-align: middle;
}

/* Accessibility Access */
/* ========================================================================== */

#accessibility_access {
	display: none;
}

/* Domain Bar */
/* ========================================================================== */

#domain_bar {
	min-width: 960px;
	background-color: #3b5998;
	height: 10px;
}
#domain_bar div {
	max-width: 960px;
	width: 960px;
	margin: 0 auto;
}
#domain_bar a {
	margin-right: 30px;
	float: right;
	background: #3b5998 url(images/favicon.png) 6px 4px no-repeat;
	padding: 4px 12px 2px 26px;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* Logo */
/* ========================================================================== */

#logo {
	position: relative;
	text-align: right;
	max-width: 960px;
	width: 960px;
	margin: 12px auto 0;
}
#logo a {
	display: inline-block;
	height: 64px;
	color: rgba(10%,10%,10%,1);
	text-decoration: none;
}
#logo a:hover h1 {
	opacity: 0.8;
	color: rgba(10%,10%,10%,0.88);
}
#logo strong {
	margin-right: 8px;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}
#logo small {
	font-style: italic;
}
#logo a img {
	float: left;
	height: 64px;
	margin-right: 16px;
}
#logo>img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

/* Top Bar */
/* ========================================================================== */

#top_bar {
	color: #fff;
	background: #2e3436 url("images/top_bar-bg.png") top repeat-x;
	padding: 8px 0;
	margin: 12px auto 0;
	max-width: 960px;
	width: 960px;
	font-size: 14px;
	line-height: normal;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
#top_bar>div {
	display: table;
	width: 100%;
}
#top_bar>div>div {
	display: table-cell;
	width: 50%;
}
#top_bar>div .right {
	text-align: right;
}
#top_bar ul {
	list-style: none;
	margin: 0;
	padding: 0 6px;
}
#top_bar ul li {
	display: inline;
	margin: 0 6px 0 0;
}
#top_bar a {
	color: #fff;
	text-decoration: none;
	padding: 4px 8px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	outline: 0;
	-webkit-transition: background 100ms linear;
	-moz-transition: background 100ms linear;
	-o-transition: background 100ms linear;
	transition: background 100ms linear;
	text-shadow: 0 1px 0 #000;
}
#top_bar a:hover {
	background-color: #64696d;
	background-color: rgba(100%, 100%, 100%, 0.2);
}
#top_bar a:focus {
	background-color: rgba(100%, 100%, 100%, 0.15);
}
#top_bar a:active, #top_bar li.current-menu-item a {
	background: #1c2021 url("images/top_bar-item-bg.png") top repeat-x;
	-moz-box-shadow: inset 0 -1px 0 rgba(100%,100%,100%, 0.4), inset 0 1px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 0 -1px 0 rgba(100%,100%,100%, 0.4), inset 0 1px 3px rgba(0,0,0,0.4);
	box-shadow: inset 0 -1px 0 rgba(100%,100%,100%, 0.4), inset 0 1px 3px rgba(0,0,0,0.4);
}
#top_bar form {
	padding-right: 8px;
}
#top_bar input {
	margin: -8px 0 -8px -8px;
	line-height: 22px;
	width: 150px;
	border: 0;
	padding: 8px 8px 8px 28px;
	background: transparent url(images/key-icon.png) 8px center no-repeat;
	color: rgba(100%,100%,100%,0.6);
	border-left: 1px solid rgba(100%,100%,100%,0.3);
	outline: none;
}
#top_bar input:first-child {
	background: transparent url(images/favicon.png) 8px center no-repeat;
}
#top_bar input:focus {
	background-color: rgba(100%,100%,100%,0.1);
	color: rgba(100%,100%,100%,1.0);
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
#top_bar button {
	margin: -8px 0 -8px -8px;
	line-height: 22px;
	border: 0;
	padding: 8px 8px 8px 28px;
	background: white url(images/login-icon.png) 8px center no-repeat;
	color: black;
	font-weight: bold;
	cursor: pointer;
}

/* Main Footer */
/* ========================================================================== */

body>footer {
	min-width: 960px;
	font-size: 80%;
	border-top: 1px ridge black;
}
body>footer>div {
	max-width: 960px;
	width: 960px;
	margin: 0 auto;
}
body>footer>div:last-of-type {
	clear: both;
	margin-bottom: 6px;
}
body>footer li {
	display: inline;
}
body>footer li:before {
	content: '·';
}
body>footer a {
	color: #0f88da;
}

/* Bottom Bar */
/* ========================================================================== */

#bottom_bar {
	float: left;
}

/* Validators */
/* ========================================================================== */

#validators {
	float: right;
}
#validators a {
	target-name: new;
}
