<h1>Editing permission</h1>

<%= render 'form' %>

<%= link_to 'Show', @permission %> |
<%= link_to 'Back', {:controller => "items", :action => "index", :list_id => session[:list_id], :comp => 'f'}, :target => 'ui_display' %>
