<section id="dash">
	<%= link_to 'Edit User Profile', edit_user_path(User.find(session[:user_id])) %>
	<div class="popup" style="display: inline; padding-left: 80px;">
		<a href="#">Log Out</a>
		<div>Are you sure?<%= button_to 'Yes', logout_url, :method => :delete %></div>
	</div>
</section>
