<section id="dash">
<div class="popup"><a href="#">Log Out</a><div><%= button_to 'Yes', 'logout', :method => :delete  %></div></div>
</section>
<aside id="controls">
</aside>
<aside id="extra">
</aside>
<section id="list_view">
</section>
