<section id="dash">
<%= button_to 'Logout', 'logout', :method => :delete  %>
</section>
<aside id="controls">
</aside>
<aside id="extra">
</aside>
<section id="list_view">
	<%= link_to "items/index" {:controller => 'Items', :action => 'index(13)'}, {:target => "item_display"} %>
	<iframe name="item_display" id="item_display" frameborder="0"></iframe>
</section>
