<section id="dash">
	<div class="popup"><a href="#">Log Out</a><div>Are you sure?<%= button_to 'Yes', 'logout', :method => :delete  %></div></div>
</section>
<aside id="controls">
	<div class="popup">
		<a href="#">Lists</a>
		<div><ol>
			<% User.find(session[:user_id]).lists.each do |list_id| %>
			<li><%= link_to List.find(list_id).name, {:controller => "items", :action => "index", :list_id => list_id}, :target => 'item_display' %></li>
			<% end %>
		</ol></div>
	</div>
</aside>
<aside id="extra">
</aside>
<section id="list_view">
	<iframe name="item_display" id="item_display"></iframe>
</section>
