<section id="dash">
<a href="#" class="popup">Log Out<div><%= button_to 'Yes', 'logout', :method => :delete  %></div></a>
</section>
<aside id="controls">
</aside>
<aside id="extra">
</aside>
<section id="list_view">
</section>
